Repository manoldonev/react-visualization-assignment-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: add tailwind
  README.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App/App.test.tsx
  src/App/App.tsx
  src/index.css
  tailwind.config.js
  vite.config.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: add tailwind (#1)
  README.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App/App.test.tsx
  src/App/App.tsx
  src/index.css
  tailwind.config.js
  vite.config.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

refactor: switch to createRoot syntax
  src/index.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: update localhost port for vite
  .vscode/launch.json
Due: none

feat: add basic box list visualization
  src/App/App.tsx
  src/components/Box.tsx
  src/components/BoxList.tsx
  src/index.css
  src/models/shape.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

feat: add basic box list visualization (#2)
  src/App/App.tsx
  src/components/Box.tsx
  src/components/BoxList.tsx
  src/index.css
  src/models/shape.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: fix tailwind prettier plugin & pnpm
  .prettierrc
Due: none

chore: update vscode settings
  .vscode/settings.json
Due: none

chore: reorganize dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: add box selection support
  package.json
  pnpm-lock.yaml
  src/App/App.tsx
  src/atoms/selectionAtom.ts
  src/components/Box.tsx
  src/components/BoxList.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

feat: add box selection support (#3)
  package.json
  pnpm-lock.yaml
  src/App/App.tsx
  src/atoms/selectionAtom.ts
  src/components/Box.tsx
  src/components/BoxList.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  .eslintignore
  .eslintrc
  .github/workflows/main.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .npmrc
  .prettierrc
  .vscode/launch.json
  .vscode/settings.json
  LICENSE
  README.md
  assets/index.57f31eb9.js
  assets/index.81be1a65.css
  assets/web-vitals.d2c6f7f0.js
  commitlint.config.js
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  renovate.json
  robots.txt
  src/App/App.test.tsx
  src/App/App.tsx
  src/App/index.ts
  src/atoms/selectionAtom.ts
  src/components/Box.tsx
  src/index.css
  src/index.tsx
  src/models/shape.ts
  src/reportWebVitals.ts
  src/vitest.setup.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: setup deployment
  .github/workflows/deploy.yml
Due: none

chore: setup deployment (#4)
  .github/workflows/deploy.yml
Due: none

feat: add small target statistic component
  src/App/App.tsx
  src/components/SmallTargetStatistic.tsx
  src/hooks/useInitialRender.ts
  src/vitest.setup.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

feat: add small target statistic component (#6)
  src/App/App.tsx
  src/components/SmallTargetStatistic.tsx
  src/hooks/useInitialRender.ts
  src/vitest.setup.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/index.37914878.js
  assets/index.57f31eb9.js
  assets/index.81be1a65.css
  assets/index.a7426caa.css
  index.html
Due: prettier --write

chore: update readme
  README.md
Due: none

chore: fix typo
  src/components/SmallTargetStatistic.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

refactor: input validation
  package.json
  pnpm-lock.yaml
  src/App/App.tsx
  src/App/ErrorFallback.tsx
  src/components/SmallTargetStatistic.tsx
  src/index.css
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

feat: add input validation and error boundary (#7)
  package.json
  pnpm-lock.yaml
  src/App/App.tsx
  src/App/ErrorFallback.tsx
  src/components/SmallTargetStatistic.tsx
  src/index.css
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/index.37914878.js
  assets/index.a3403dd9.css
  assets/index.a7426caa.css
  assets/index.dfe3a709.js
  index.html
Due: prettier --write

feat: add keyboard support
  src/App/App.test.tsx
  src/App/App.tsx
  src/components/Box.tsx
  src/components/BoxList.tsx
  src/components/BoxListItem.tsx
  src/components/SmallTargetStatistic.test.tsx
  src/components/index.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

feat: add keyboard support and accessibility improvements (#8)
  src/App/App.test.tsx
  src/App/App.tsx
  src/components/Box.tsx
  src/components/BoxList.tsx
  src/components/BoxListItem.tsx
  src/components/SmallTargetStatistic.test.tsx
  src/components/index.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/index.84328478.css
  assets/index.92dba6ea.js
  assets/index.a3403dd9.css
  assets/index.dfe3a709.js
  index.html
Due: prettier --write

chore: add cssnano for css optimization
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: none

chore: add cssnano for css optimization (#9)
  package.json
  pnpm-lock.yaml
  postcss.config.js
Due: none

Updates
  assets/index.84328478.css
  assets/index.ada3e200.css
  index.html
Due: prettier --write

fix: svg text css transform issue in Safari
  src/components/SmallTargetStatistic.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

fix: svg text css transform issue in Safari (#10)
  src/components/SmallTargetStatistic.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/index.92dba6ea.js
  assets/index.e87aca51.js
  index.html
Due: prettier --write

feat: add msw request mocking
  .env
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/App/App.tsx
  src/components/BoxList/BoxList.tsx
  src/components/BoxList/BoxListItem.tsx
  src/components/BoxList/index.ts
  src/components/SmallTargetStatistic/SmallTargetStatistic.test.tsx
  src/components/SmallTargetStatistic/SmallTargetStatistic.tsx
  src/components/SmallTargetStatistic/index.ts
  src/env.d.ts
  src/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/seed.ts
  src/mocks/server.ts
  src/models/shape.ts
  src/queryClient.ts
  src/queryKeyFactory.ts
  src/routes/analytics/Analytics.tsx
  src/routes/analytics/index.ts
  src/routes/analytics/query/useShapes.ts
  src/vitest.setup.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: require approval for msw dep updates
  package.json
  renovate.json
Due: none

feat: add msw request mocking (#11)
  .env
  package.json
  pnpm-lock.yaml
  public/mockServiceWorker.js
  renovate.json
  src/App/App.test.tsx
  src/App/App.tsx
  src/components/BoxList/BoxList.tsx
  src/components/BoxList/BoxListItem.tsx
  src/components/BoxList/index.ts
  src/components/SmallTargetStatistic/SmallTargetStatistic.test.tsx
  src/components/SmallTargetStatistic/SmallTargetStatistic.tsx
  src/components/SmallTargetStatistic/index.ts
  src/env.d.ts
  src/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/seed.ts
  src/mocks/server.ts
  src/models/shape.ts
  src/queryClient.ts
  src/queryKeyFactory.ts
  src/routes/analytics/Analytics.tsx
  src/routes/analytics/index.ts
  src/routes/analytics/query/useShapes.ts
  src/vitest.setup.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/browser.2df614d5.js
  assets/index.39ebf753.js
  assets/index.4acf5603.css
  assets/index.ada3e200.css
  assets/index.e87aca51.js
  index.html
  mockServiceWorker.js
Due: prettier --write

fix: use layout effect to measure svg text
  src/components/SmallTargetStatistic/SmallTargetStatistic.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

fix: use layout effect to measure svg text (#12)
  src/components/SmallTargetStatistic/SmallTargetStatistic.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/browser.ab2c19af.js
  assets/index.39ebf753.js
  assets/index.95330312.js
  index.html
Due: prettier --write

feat: add orange target statistic
  src/App/App.test.tsx
  src/components/SmallTargetStatistic/index.ts
  src/components/TargetStatistic/TargetStatistic.test.tsx
  src/components/TargetStatistic/TargetStatistic.tsx
  src/components/TargetStatistic/index.ts
  src/routes/analytics/Analytics.tsx
  src/routes/analytics/hooks/index.ts
  src/routes/analytics/hooks/useActualValuesComputation.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Path conditions:
  prettier --write: (any of: *.{html,css}) or (any of: *.{ts,tsx})
  pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  pnpm run test:related: any of: *.{ts,tsx}
