Repository manoldonev/react-visualization-assignment-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache",
    "tsc-files --noEmit",
    "pnpm run test:related"
  ]
}

chore: update readme
  README.md
Due: none

Updates
  assets/browser.adbe7b1b.js
  assets/index.1ec2d44c.js
  assets/index.8d936a45.js
  index.html
Due: prettier --write

refactor: optimize re-renders
  src/routes/dashboard/BoxChart/BoxChart.tsx
  src/routes/dashboard/BoxChart/BoxChartItem.tsx
  src/routes/dashboard/CommandBar/CommandBar.tsx
  src/routes/dashboard/CommandBar/index.ts
  src/routes/dashboard/Dashboard.tsx
  src/routes/dashboard/TargetsPanel/TargetsPanel.tsx
  src/routes/dashboard/TargetsPanel/index.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

refactor: optimize re-renders (#28)
  src/routes/dashboard/BoxChart/BoxChart.tsx
  src/routes/dashboard/BoxChart/BoxChartItem.tsx
  src/routes/dashboard/CommandBar/CommandBar.tsx
  src/routes/dashboard/CommandBar/index.ts
  src/routes/dashboard/Dashboard.tsx
  src/routes/dashboard/TargetsPanel/TargetsPanel.tsx
  src/routes/dashboard/TargetsPanel/index.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/browser.51c35892.js
  assets/index.79115989.css
  assets/index.8d936a45.js
  assets/index.a04ece5e.js
  assets/index.c0440e9c.css
  index.html
Due: prettier --write

chore: add assignment description markdown
  README.md
  assets/01.png
  assets/02.png
  assets/03.png
  assets/04.png
  assignment-description.md
Due: none

chore: add assignment description markdown (#31)
  README.md
  assets/01.png
  assets/02.png
  assets/03.png
  assets/04.png
  assignment-description.md
Due: none

chore: rename repo artifacts
  README.md
  package.json
  vite.config.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: rename repo artifacts (#32)
  README.md
  package.json
  vite.config.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/browser.30c349e1.js
  assets/index.fb6b2018.js
  index.html
Due: prettier --write

chore: migrate obsolete workflow set-output to environment files
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

chore: migrate obsolete workflow set-output to environment files (#35)
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

chore: switch packageManager to pnpm@8.15.4
  package.json
  pnpm-lock.yaml
Due: none

chore: update node and pnpm versions in workflows
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

refactor: migrate code to jotai v2
  package.json
  pnpm-lock.yaml
  src/App/App.test.tsx
  src/index.tsx
  src/queryClient.ts
  src/routes/dashboard/Dashboard.tsx
  src/routes/dashboard/atoms/query.ts
  src/routes/dashboard/atoms/selection.ts
  src/routes/dashboard/atoms/statistics.ts
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/browser.bc7ee53b.js
  assets/index.af5edad0.js
  assets/index.fb6b2018.js
  index.html
Due: prettier --write

chore: update vite and mock tooling
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/vitest.setup.ts
  tailwind.config.cjs
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: formatting
  src/components/Button/Button.tsx
  src/routes/dashboard/Dashboard.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: update vite and mock tooling (#52)
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/components/Button/Button.tsx
  src/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/routes/dashboard/Dashboard.tsx
  src/vitest.setup.ts
  tailwind.config.cjs
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

Updates
  assets/browser-BJ2Waji3.js
  assets/browser.bc7ee53b.js
  assets/index-BJI0AMl7.js
  assets/index-Dk-NmKDW.css
  assets/index.79115989.css
  assets/index.af5edad0.js
  assets/web-vitals-BhWu73fZ.js
  assets/web-vitals.d2c6f7f0.js
  index.html
  mockServiceWorker.js
Due: prettier --write

Updates
  assets/index-BJI0AMl7.js
  assets/index-DncWzsrB.js
  index.html
Due: prettier --write

Updates
  assets/index-Dk-NmKDW.css
  assets/index-tEhoMeJW.js
  assets/index-uIEzWQwu.css
  index.html
Due: prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: update deps
  .eslintrc
  package.json
  pnpm-lock.yaml
  src/routes/dashboard/BoxChart/BoxChart.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore: update deps (#54)
  .eslintrc
  package.json
  pnpm-lock.yaml
  src/routes/dashboard/BoxChart/BoxChart.tsx
Due: prettier --write, pnpm run lint:fix --cache --cache-location ./node_modules/.cache/.eslintcache, tsc-files --noEmit, pnpm run test:related

chore(workflows): bump node to v20
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

chore(workflows): bump node to v20 (#58)
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

Updates
  assets/index-tEhoMeJW.js
Due: none

Updates
  assets/index-Cswy3xgC.js
  assets/index-tEhoMeJW.js
  index.html
Due: prettier --write

Updates
  assets/browser-B0D-zClL.js
  assets/index-BR-mL71n.js
  assets/index-Cswy3xgC.js
  assets/web-vitals-BhWu73fZ.js
  index.html
Due: prettier --write

Updates
  assets/browser-B0D-zClL.js
  assets/browser-DnawJ_pK.js
  assets/index-BR-mL71n.js
  assets/index-Br0SoHoI.css
  assets/index-HXs7Z1iv.js
  index.html
Due: prettier --write

Updates
  assets/browser-BF__owaP.js
  assets/browser-DnawJ_pK.js
  assets/index-HXs7Z1iv.js
  assets/index-QHhMcCUI.js
  index.html
Due: prettier --write

Updates
  assets/index-DPT6DceN.js
  assets/index-QHhMcCUI.js
  index.html
Due: prettier --write
